footer {
	background-color: #FAFAFA;
	color: #A8A8A8;
	padding: 20px 0;
	height: 60px;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	text-align: center;	
}

.footer-container {
		
	max-width: 1000px;
			
	margin: 0 auto;
				
	padding: 15px 0;
					
	text-align: center;
				
}
.footer-container p {
	margin: 0
	
}	
footer p {
	margin: 0;
	
}
	  
	
footer a {
			
	color: #FF5A5F;
				
	text-decoration: none;
			
}
			  
			
footer a:hover {
					
	text-decoration: underline;
				
}
.best-school {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: #ffffff;
}

